---
const {data, img} =Astro.props;
console.log(data);
---
<article>
    <div class="grid_1_1">
        <div>
        <a href="/oversigt"><img class="arrow" src="/arrow.svg" alt="billede af en pil"></a>
        <img src={img} alt="billede">
        </div>
        <div class="teksten">
            <h1>{data.name}</h1>
            <h2>{data.artist}</h2>
            <h2>{data.location}</h2>
            <p>{data.description}</p>
        </div>
    </div>

    <div class="tekst">
        <p>{data.information}</p>
</article>


<style>
    h1{
        font-size: 35px;
        margin: 0;
        letter-spacing: 3px;
        padding-bottom: 40px;
    }
    h2{
        font-size: 27px;
        margin: 0;
        padding-bottom: 15px;
    }
    p{
        font-size: 23px;
        font-family:"Hiragino Kaku Gothic Pro"; 
        margin: 0;  
    }
    .tekst{
        margin: 65px;

    }
    .grid_1_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5%;
    margin: 60px;
}

@media(min-width:800px){
    .teksten{
        margin-top:50px;
    }
}

@media (max-width: 800px){
    .grid_1_1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 30px;
        gap: 0.5%;
    }
    h1{
        font-size: 26px;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 10px;
        letter-spacing: 3px;
    }
    h2{
        font-size: 18px;
        margin: 0;
    }
    p{
        font-size: 15px;
        font-family:"Hiragino Kaku Gothic Pro"; 
        margin: 0;   
    }
    .arrow{
        width: 31px;
    }
    .teksten{
        padding-left: 1%;
    }
    .tekst{
        margin: 32px;
        padding-top: 30px;
    }
}
</style>

